<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evan.comp296">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/brookdale"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".splash_screen"
            android:theme="@style/Theme.Design.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/brookdale"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <!-- A child of the main activity -->
        <activity
            android:name=".Register"
            android:icon="@mipmap/brookdale"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainActivity" />
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name=".Firebase_New_User"
            android:icon="@mipmap/brookdale"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainActivity" />
        </activity>
        <!-- A child of the main activity -->
        <activity
            android:name=".Home"
            android:icon="@mipmap/brookdale"
            android:label="@string/app_name" />
        <!-- A child of the main activity -->
        <activity
            android:name=".display_info"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainActivity" />
        </activity>


        <activity
            android:name=".MainHomeScreen"
            android:label="Welcome"
            android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.evan.comp296.MainActivity" />
        </activity>


        <activity
            android:name=".onehundred_level"
            android:label="@string/app_name"
            android:parentActivityName=".MainHomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainActivity" />
        </activity>


        <activity
            android:name=".comp166"
            android:label="@string/app_name"
            android:parentActivityName=".MainHomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainActivity" />
        </activity>


        <activity
            android:name=".firebase.firebase_main"
            android:label="@string/app1_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainActivity" />
        </activity>


        <activity
            android:name="com.example.evan.comp296.google.ChooserActivity"
            android:label="@string/app_name2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainActivity" />

        </activity>


        <activity
            android:name="com.example.evan.comp296.google.SignInActivity"
            android:label="@string/name_sign_in_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        </activity>
        <activity
            android:name="com.example.evan.comp296.google.SignInActivityWithDrive"
            android:label="@string/name_sign_in_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        </activity>
        <activity
            android:name="com.example.evan.comp296.google.IdTokenActivity"
            android:label="@string/name_id_token_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        </activity>

        <activity
            android:name="com.example.evan.comp296.google.ServerAuthCodeActivity"
            android:label="@string/name_auth_code_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        </activity>

        <activity
            android:name="com.example.evan.comp296.google.RestApiActivity"
            android:label="@string/name_rest_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.java_main"
            android:label="Java Courses"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />
        </activity>


        <activity
            android:name="com.example.evan.comp296.tutorials.java.j0"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j1"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j2"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j3"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j4"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j5"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j6"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j7"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j8"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j9"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j10"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>


        <activity
            android:name="com.example.evan.comp296.tutorials.java.j11"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j12"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j13"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.j14"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
        android:name="com.example.evan.comp296.tutorials.java.j15"
        android:label="@string/app_name2"
        android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.comp228"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.java.comp271"
            android:label="@string/app_name2"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.java.java_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.mysql.SQL_main"
            android:label="SQL"
            android:theme="@style/Theme.Design.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />
        </activity>

        <activity
        android:name="com.example.evan.comp296.tutorials.mysql.SQL_linked_to_web"
        android:label="SQL"
        android:theme="@style/Theme.Design.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.evan.comp296.tutorials.mysql.SQL_main" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.assembly.MainActivity_pixel"
            android:label="Comp-135"
            android:supportsRtl="true"
            android:theme="@style/AppThemePixel">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />
        </activity>

        <activity
            android:name="com.example.evan.comp296.tutorials.assembly.Comp135"
            android:label="Comp-135: Computer Architecture"
            android:theme="@style/Theme.Design.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.tutorials.assembly.MainActivity_pixel" />
        </activity>




        <activity
            android:name="com.example.evan.comp296.Notes.Note_drv"
            android:label="@string/app_name2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />

        </activity>


        <activity
            android:name="com.example.evan.comp296.Notes.Note_Homepage"
            android:label="Notes Homepage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />

        </activity>



        <activity
        android:name="com.example.evan.comp296.Notes.Note_viewer"
        android:label="@string/app_name2">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.evan.comp296.Notes.Note_Homepage" />

    </activity>

        <activity
            android:name="com.example.evan.comp296.Notes.Note_delete_view"
            android:label="@string/app_name2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.Notes.Note_Homepage" />

        </activity>


        <activity
            android:name="com.example.evan.comp296.about_and_contact.about_us"
            android:label="About Us">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />

        </activity>

        <activity
            android:name="com.example.evan.comp296.about_and_contact.about_us_2"
            android:label="Our Story">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />

        </activity>

        <activity
            android:name="com.example.evan.comp296.about_and_contact.Contact_us"
            android:label="Contact">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />

        </activity>


        <activity
            android:name="com.example.evan.comp296.Settings_screen"
            android:label="Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />

        </activity>




        <activity
            android:name="com.example.evan.comp296.profile.MainActivity_Profile"
            android:label="My Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />

        </activity>

        <activity
            android:name="com.example.evan.comp296.profile.Profile_main"
            android:label="My Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />

        </activity>

        <activity
            android:name="com.example.evan.comp296.profile.Profile_edit"
            android:label="@string/app_name2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />

        </activity>



        <activity
            android:name="com.example.evan.comp296.messaging.ProfileActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.evan.comp296.messaging.FeedsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.example.evan.comp296.messaging.db_tester"
            android:label="@string/title_activity_user_detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.example.evan.comp296.messaging.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen">
        </activity>
        <activity
            android:name="com.example.evan.comp296.messaging.CommentsActivity"
            android:label="@string/title_activity_comments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.evan.comp296.messaging.NewPostActivity"
            android:label="@string/title_activity_new_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.evan.comp296.messaging.UserDetailActivity"
            android:label="@string/title_activity_user_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BaseActivity"></activity>





        <activity
            android:name="com.example.evan.comp296.invites.MainActivity_invites"
            android:label="Invite">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />
        </activity>


        <activity
            android:name="com.example.evan.comp296.invites.DeepLinkActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- [START deep_link_filter] -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="example.com"/>
                <data android:scheme="http"/>
                <data  android:scheme="https"/>
            </intent-filter>
            <!-- [END deep_link_filter] -->
        </activity>


        <activity
            android:name="com.example.evan.comp296.group_chat.MainActivity_for_chat"
            android:label="Group Chat"
            android:theme="@android:style/Theme.Holo.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.group_chat.LoginActivity_for_chat" />
        </activity>


        <activity
            android:name="com.example.evan.comp296.group_chat.LoginActivity_for_chat"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.evan.comp296.MainHomeScreen" />
        </activity>

        <receiver
            android:name="com.example.evan.comp296.group_chat.gcm.GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.example.evan.comp296.group_chat.gcm.GcmIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>







        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
        android:name="com.facebook.CustomTabActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="@string/fb_login_protocol_scheme" />
        </intent-filter>
    </activity>












        <!-- [START firebase_service] -->
        <service
            android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service
            android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <service android:name=".firebase.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>


        <service
            android:name=".profile.MyDownloadService"
            android:exported="false"/>

        <service
            android:name=".profile.MyUploadService"
            android:exported="false" />



    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>









</manifest>